<header class="py-5">
    <div class="container_style px-5">
        <div class="row_style justify-content-center">
            <div class="col_style-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">{{ title }}</h1>
                    <p class="lead fw-normal text-muted mb-4">{{ description }}</p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>