{% extends 'base_root.html' %}
{% load i18n static %}

{% block extend_root %}

    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="/">
                                    <img src="{% static "img/logo-main@print.png" %}" alt="{{ request.site.name }}"
                                         class="img-fluid">
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->
    {% block messages %}
        {% if messages %}
            <!-- start: messages -->
            <div class="container">
                {% include "includes/messages.html" %}
            </div>
            <!-- end: messages -->
        {% endif %}
    {% endblock messages %}
    {% block breadcrumbs %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-left">

                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'core:login' %}">{% translate 'Login' %}</a></li>

                            <li class="breadcrumb-item active"><a href="{% url 'core:password_reset' %}">{% translate 'Password reset' %}</a></li>
                            <li class="breadcrumb-item active">{% translate 'Done' %}</li>


                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5 mr-auto ml-auto mt-40">
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">{{ title }}</h4>
                        <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

                        <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>



                    </div>
                </div>
                <div class="mt-4 text-center" >
                    {#                        Don't have an account? <a href="{% url 'core:signup' %}">Create One</a>#}
                </div>
            </div>
        </div>

    {% endblock %}


{% endblock %}
