{% extends 'base_root.html' %}
{% load i18n static menu_tags widget_tweaks %}
{% block extend_root %}
    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="/">
                                    <img src="{% static "img/logo-main@print.png" %}" alt="{{ request.site.name }}"
                                         class="img-fluid">
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->
    {% block messages %}
        {% if messages %}
            <!-- start: messages -->
            <div class="container">
                {% include "includes/messages.html" %}
            </div>
            <!-- end: messages -->
        {% endif %}
    {% endblock messages %}
    {% block breadcrumbs %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-left">

                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                                <li class="breadcrumb-item"><a href="{% url 'core:login' %}">{% translate 'Login' %}</a></li>

                                <li class="breadcrumb-item active">{% translate 'Password reset' %}</li>


                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}



        <form method="post">{% csrf_token %}
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5 mr-auto ml-auto mt-40">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">{{ title }}</h4>
                            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>


                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" >
                                        {{ field.label }}</label>
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    {% if field.id_for_label ==  "id_password" %}
                                        <i class="toggle-Password fal fa-eye-slash" id="togglePassword"></i>
                                    {% endif %}
                                    <div class="{% if field.errors or form.non_field_errors %} invalid{% endif %}">
                                        {% if form.non_field_errors %}
                                            {% for error in form.non_field_errors %}
                                                <p class="help-block">{{ error}}</p>
                                            {% endfor %}

                                        {% else %}

                                        {% for error in field.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}


                            <div class="form-group m-0">

                                <button type="submit" class="btn btn-primary btn-block" value="{% translate 'Reset my password' %}">
                                    Reset my password
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="mt-4 text-center" >
{#                        Don't have an account? <a href="{% url 'core:signup' %}">Create One</a>#}
                    </div>
                </div>
            </div>
{#            <fieldset class="module aligned">#}
{#                <div class="form-row field-email">#}
{#                    {{ form.email.errors }}#}
{#                    <label for="id_email">{% translate 'Email address:' %}</label>#}
{#                    {{ form.email }}#}
{#                </div>#}
{#                <input type="submit" value="{% translate 'Reset my password' %}">#}
{#            </fieldset>#}
        </form>

    {% endblock %}
{% endblock %}