{% comment %} {% extends 'core/base.html' %} {% endcomment %}
{% load i18n static widget_tweaks sekizai_tags thumbnail%}

{% block profile_content %}

<div class="modal-header">
    <h3 class="modal-title">Profile details</h3>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="container_style">
                <div class="">
                    <div class="text-center mb-5">
                        <div class="text-center">
                            {% if user.userprofile.profile_img %}
                                {% thumbnail user.userprofile.profile_img 312x312 crop quality=70 upscale as thumb %}
                                <img class="img-fluid w-25 rounded-circle mb-4 px-4" src="{{ thumb.url }}" 
                                alt="" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                            {% endif %}
                            {#<img class="img-fluid w-25 rounded-circle mb-4 px-4" src="{{ user.userprofile.profile_img.url }}" alt="..." />#}
                            <h5 class="fw-bolder">{{ user.phone }}</h5>
                            <div class="fst-italic text-muted">{{ user.email }}</div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <form>
                                <div class="{% if u_form.non_field_errors %}invalid{% endif %} mb-2">
                                    {% for error in u_form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                <div class="{% if p_form.non_field_errors %}invalid{% endif %} mb-2">
                                    {% for error in p_form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>

                                {% for field in u_form %}
                                    {% if not field.id_for_label == "id_password" %}
                                    <div class="form-group">

                                        <label for="{{ field.id_for_label }}" >
                                            {{ field.label }}</label>
                                        {% render_field field class="form-control" placeholder=field.label %}
                                        <div class="{% if field.errors %} invalid{% endif %}">
                                            {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% for field in p_form %}
                                    {% if not field.id_for_label == "id_password" %}
                                        <div class="form-group">

                                            <label for="{{ field.id_for_label }}" >
                                                {{ field.label }}</label>

                                            {% render_field field class="form-control" placeholder=field.label %}
                                            <div class="{% if field.errors %} invalid{% endif %}">
                                                {% for error in field.errors %}
                                                    <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!-- Hidden input field for custom redirection after successful login -->
                                <input type="hidden" name="next" value="{{ success_url }}">
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        SAVE
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data--bs-dismiss="modal">Close</button>
    </div>

{% endblock %}
