{% extends "base.html" %}
{% load i18n static cms_tags menu_tags sekizai_tags %}

{% block body_class %}tpl-fullwidth{% endblock %}

{% block content %}

<div class="site-wrapper-reveal">
    <div class="col-lg-8 ml-auto mr-auto section-space--pt_40">
        <div class="card" style="">
            <div class="faq-wrapper">
                <div class ="faq-wrapper card-body">
                    
                    <!--Plugin Cards with shadows. Can Be used with Hardcoded Cards in this div-->
                    <div>
                        {% placeholder "policy-text" or %}
                                                            
                        {% endplaceholder %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


