{% extends "base.html" %}
{% load i18n static cms_tags menu_tags sekizai_tags %}

{% block body_class %}tpl-fullwidth{% endblock %}

{% block content %}

    <div class="site-wrapper-reveal section-space--pt__120">
        <!--  Separators Start -->
        <div class="row-separators-wrap particles-area  default-bg-3 separators-space">
            <div class="constellation-wrapper">
                <div id="particles-js"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <div class="typed-text-wrap">
                            <h4 class="cd-headline letters text-white type">
                                <span>We work on</span>
                                <span class="cd-words-wrapper waiting">
                            <b class="is-visible text-black"> IOT and Artificial Intelligence</b>
                            <b class="text-black"> </b>
{#                            <b class="text-black"></b>#}
                        </span> to extend our technological lead
                            </h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--  Separators End -->
        <div class="our-history-wrapper section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h3 class="heading mb-20">We create dreams <span class="text-color-primary"> for the future.</span> <br> We realize them sucessfully. </h3>
                            <p class="title-dec-text"> we have already developed many innovations, developing them and received awards for them. Here we would like to keep you up to date on the latest adorsho praniSheba innovations.</p>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="timeline-area section-space--pt_60">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ht-timeline style-01">
                                <div class="row">
                                    <div class="col-md-6 timeline-col left timeline-info">
                                        <div class="inner">
{#                                            <div class="date-wrap">#}
{#                                                <h2 class="year">1988</h2>#}
{#                                            </div>#}

                                            <div class="photo">
{#                                                <img src="https://dummyimage.com/600x400/edfff7/2da127" alt="timeline-image-01" class="img-fluid">#}
                                                <img src="{% static "images/bg/fidaHaq.jpeg" %}" alt="timeline-image-01" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 timeline-col right timeline-info">
                                        <div class="inner">
                                            <div class="content-wrap">
                                                <div class="content-body">
                                                    <h6 class="heading">The Foundation of praniSheba</h6>

                                                    <div class="text">
                                                        The beginning of praniSheba Ltd. was laid by Fida Haq. Back in 2019, had discussed with others about starting a company to deliver technological &amp; digital services on livestock sector. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--=========== About Company Area Start ==========-->
        <div class="machine-learning-about-company-area machine-learning-about-bg section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-left section-space--mb_30">
                            <h6 class="section-sub-title mb-20">ABOUT adorsho praniSheba Technology</h6>
                            <h2 class="heading">With <span class="text-color-primary">AI and Machine Learning,</span> <br>
                                everyone in our company can make a <span class="text-color-primary">difference.</span>
                            </h2>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="image-inner-video-section">
                            <div class="main-video-box video-popup">
                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link  mt-30">
                                    <div class="single-popup-wrap">
                                        <img class="img-fluid border-radus-5" src="https://www.dummyimage.com/600x400/5c505c/f9faf5" alt="">
                                        <div class="ht-popup-video video-button">
                                            <div class="video-mark">
                                                <div class="wave-pulse wave-pulse-1"></div>
                                                <div class="wave-pulse wave-pulse-2"></div>
                                            </div>
                                            <div class="video-button__two">
                                                <div class="video-play">
                                                    <span class="video-play-icon"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
{#                            <div class="machine-learning-mark-text mt-30">#}
{#                                Retailer Marks &amp; Spencer created better customer experience with Contact Center AI from Mitech Cloud.#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-lg-5 ml-auto mt-30">
                        <div class="machine-learning-about-content">
                            <div class="section-title mb-20">
                                <h4>Innovation within our existing workflow</h4>
                                <p class="dec-text mt-20">adorsho praniSheba provides a series of essential services such as cattle identification, wellbeing monitoring,
                                    insurance and access to lenders for the marginal cattle farmers across the country through its trailblazing cattle face recognition technology.
                                    The groundbreaking facial recognition technology (patent pending) employs Internet of Things (IoT), Big Data, Machine Learning,
                                    Artificial Intelligence - among other technologies to achieve these.</p>
{#                                <div class="button-box mt-30">#}
{#                                    <a href="#" class="ht-btn ht-btn-md">Talk to a consultant</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== About Company Area End ==========-->
        <!--====================  Conact us Section Start ====================-->
        {% placeholder 'contact_us' or %}
            <div class="contact-us-section-wrappaer infotechno-contact-us-bg section-space--ptb_120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-lg-6">
                            <div class="conact-us-wrap-one">
                                <h3 class="heading">Obtaining further information by <span class="text-color-primary">make a contact</span> with our experienced IT staffs. </h3>

                                <div class="sub-heading">We’re available for 8 hours a day!</div>
{#                                <br>Contact to require a detailed analysis and assessment of your plan.#}

                            </div>
                        </div>

                        <div class="col-lg-6 col-lg-6">
                            <div class="contact-info-one text-center">
                                <div class="icon">
                                    <span class="fal fa-phone"></span>
                                </div>
                                <h6 class="heading font-weight--reguler">Reach out now!</h6>
                                <h2 class="call-us"><a href="tel:09643207003">09643 207 003</a></h2>
{#                                <div class="contact-us-button mt-20">#}
{#                                    <a href="#" class="btn btn--secondary">Contact us</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endplaceholder %}
        <!--====================  Conact us Section End  ====================-->


    </div>


{% endblock %}